/* #region common */
body {
    font-family: "Roboto",
            sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 }
h1, h2, h3, p {
    margin: 0;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* #endregion common */
/* #region header */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    column-gap: 332px;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
.header-logo .part-logo {
    color: #2e2f42;
}
.footer-logo .part-logo {
    color: #f4f4fd;
}
.nav-header-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.nav-header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}
.nav-header-list {
    margin-right: 40px;
}
.contacts {
    font-style: normal;
}
.contacts-list {
    display: flex;
    column-gap: 40px;
    align-items: center;
}
.contacts-item {
    min-width: 153px;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-header-link:hover,
.nav-header-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion header */
/* #region baner */
.main-baner {
    background-color: #2e2f42;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    padding-top: 188px;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    height: 120px;
    max-width: 496px;
}
.main-button {
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    display: block;
    margin: 48px 635px 188px 636px;
    border-radius: 4px;
    border: none;
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    white-space: nowrap;
}
/* #endregion baner */
/* #region Principals */
.feature-list {
    display: flex;
    padding-bottom: 120px;
    padding-top: 120px;
}
.feature-item {
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Principals */
/* #region Team */
.team {
    background-color: #F4F4FD;
}
.team-list {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
    column-gap: 24px;
    max-width: 1128px;
    padding-bottom: 120px;
    align-self: center;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    margin-bottom: 72px;
}
.team-item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-item-view {}

.name-position {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    margin-bottom: 8px;
}
.team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-item-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Team */
/* #region Portfolio */
.portfolio {
    flex-direction: column;
    padding: 120px 0 120px 0;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.container-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Portfolio */
/* #region footer */
.page-footer {
    background-color: #2e2f42;
}
.page-footer .container {
    padding: 100px 0;
    display: flex;
    height: 312px;
    flex-direction: column;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    height: 72px;
    flex-grow: 1;
}
/* #endregion footer */